<%- include('partials/header.ejs') %>
<form action="/submitCapital" method="post" class="container">
    <div class="horizontal-container">
        <h3>Total Score: 
            <span id="score">
              <%= locals.totalScore ? totalScore : "0" %>
            </span>
        </h3>
    </div>
    <h1>
        <%= question.country %>
    </h1>
    <div class="answer-container">
        <input type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">
    </div>
    <button type="submit">SUBMIT <% if (locals.wasCorrect) { %>
        <span class="checkmark">✔</span>
        <% } else if (locals.wasCorrect === false) { %>
            <span class="cross">✖</span>
            <% } %>
    </button>
</form>
<%- include('partials/footer.ejs') %>